.body{
    background-color: rgb(51,10,122);
}

.navbar{
    background: rgb(51,10,122);
    background: linear-gradient(90deg, rgba(51,10,122,1) 0%, rgba(140,43,179,1) 35%);
    color: white;
    font-family: 'Russo One', sans-serif;
    font-size: 30px;       
}

#unicorn{
    margin-right: auto;
    width: 100px;
}

#menino{
  position: absolute;
  display: flex;
  margin-top:-12em;
  margin-left:20px;
  width: 600px;
  height: 500px;
  border-radius: 50%;  
}

#spam{
    position: absolute;
    display: flex;
    margin-left:45%;
    margin-top:-10%;
    text-align: center;
}

#picole-anim{
    position: relative;
    margin-left: 60%;
    margin-top: 25%;
}

#sabores{
    position: absolute;
    margin-top: 10em;
    margin-bottom: 20em;
    margin-left: 10%;
    font-family: 'Russo One', sans-serif;
    color: white;
    font-size:35px;
}


.single-item{
  padding-top:30%;
  padding-left: 10%;
  margin-top:20em;
}

.slick-dots li button:before{
  color:white !important;
}
/*----- picole animado ----*/


body {
    background: #33485F;
  }
  
  .container {
    height: 280px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .popsicle {
    height: 180px;
    width: 120px;
    border-radius: 55px 55px 10px 10px;
    position: relative;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    -webkit-animation: float 2s ease-in infinite alternate;
            animation: float 2s ease-in infinite alternate;
  }
  .popsicle:before {
    content: "";
    height: 120%;
    width: 140%;
    position: absolute;
    left: -20%;
    top: -10%;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(25%, #F63999), color-stop(25%, #30dcf6), color-stop(50%, #30dcf6), color-stop(50%, #f2d200), color-stop(75%, #f2d200), color-stop(75%, #70ca5c));
    background-image: linear-gradient(0deg, #F63999 25%, #30dcf6 25%, #30dcf6 50%, #f2d200 50%, #f2d200 75%, #70ca5c 75%);
    display: block;
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
    -webkit-animation: magic 2.5s linear infinite;
            animation: magic 2.5s linear infinite;
  }
  @-webkit-keyframes magic {
    to {
      background-position: 0 210px;
    }
  }
  @keyframes magic {
    to {
      background-position: 0 210px;
    }
  }
  .popsicle:after {
    content: '';
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 13px;
    height: 120px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.35);
  }
  
  .stick {
    width: 38px;
    height: 45px;
    background: #E09C5F;
    border-radius: 0 0 12px 12px;
    display: block;
    margin: 0 auto;
    -webkit-animation: float 2s ease-in infinite alternate;
            animation: float 2s ease-in infinite alternate;
  }
  .stick:after {
    display: block;
    content: '';
    width: 100%;
    height: 14px;
    background: rgba(0, 0, 0, 0.4);
  }
  
  @-webkit-keyframes float {
    to {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
  }
  
  @keyframes float {
    to {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
  }
  .shadow {
    width: 124px;
    height: 35px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 60px / 22px;
    display: block;
    margin: 0 auto;
    -webkit-transform: scaleY(0.7) translateY(30px);
            transform: scaleY(0.7) translateY(30px);
    -webkit-animation: shad 2s ease-in infinite alternate;
            animation: shad 2s ease-in infinite alternate;
  }
  
  @-webkit-keyframes shad {
    to {
      -webkit-transform: scaleX(0.9) scaleY(0.7) translateY(30px);
              transform: scaleX(0.9) scaleY(0.7) translateY(30px);
    }
  }
  
  @keyframes shad {
    to {
      -webkit-transform: scaleX(0.9) scaleY(0.7) translateY(30px);
              transform: scaleX(0.9) scaleY(0.7) translateY(30px);
    }
  }
  


  /**------- spam text ----*/
.bumper{
    font-size: 5em;
}

h1 {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Luckiest Guy','cursive'; 
  text-shadow: 0 0.1em 20px black, 0.05em -0.03em 0 black, 0.05em 0.005em 0 black, 0em 0.08em 0 black, 0.05em 0.08em 0 black, 0px -0.03em 0 black, -0.03em -0.03em 0 black, -0.03em 0.08em 0 black, -0.03em 0 0 black;
}
h1 span {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  display: inline-block;
}
h1 span:first-child {
  -webkit-animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
          animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}
h1 span:last-child {
  -webkit-animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
          animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}

@-webkit-keyframes bop {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50%,
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bop {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50%,
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes bopB {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  80%,
  100% {
    -webkit-transform: scale(1) rotateZ(-3deg);
            transform: scale(1) rotateZ(-3deg);
  }
}
@keyframes bopB {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  80%,
  100% {
    -webkit-transform: scale(1) rotateZ(-3deg);
            transform: scale(1) rotateZ(-3deg);
  }
}

@media(max-width: 768px){
    #spam{
        position: relative;
        margin-left: 5px;
        margin-top:10em;
    }

    .bumper{
        font-size:3em;
    }

    #sabores{
      margin-top:40%;
      margin-left: 10px;
      font-size:23px;
    }
}